<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actors</title>
</head>
<style>
    h1 {
        text-align: center;
        font-style: italic;
        font-size: xx-large;
        font-weight: bold;
    }
    body {
        background-color: lightgray;
    }
</style>

<body>
<h1>Skuespillere</h1>
<br> <br> <br>
<div class="col-sm-5" align="center">Michael J.Fox</div>
<br> <br> <br>
<div class="col-sm-5" align="center">Joe Exotic</div>
<br> <br> <br>
<div class="col-sm-5" align="center">Pamela anderson</div>
<br> <br> <br>
<div class="col-sm-5" align="center">kevin mitnick</div>
<br><br>
<a href="/">Tilbage</a>
</body>
</html>