<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Dat19b Michael Petersen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>
    h1 {
        text-align: center;
        font-style: italic;
        font-size: xx-large;
        font-weight: bold;
    }

    body {
        background-color: lightgray;
    }

    .testa {
        text-align:center;
        font-size: large;
        font-weight: bold;
    }

</style>
<body>
<br><br>
<h1>Michael Petersen</h1><br/>
    <h1> Velkommen til :)</h1>
<br> <br>

<div class="testa">
    <a href="movies" > Se Film</a>
<br> <br>
    <a href="actors"> Se skuespillere</a>
    <br> <br>
    <a href="calculaor"> Se Calculator</a>
</div>

</body>
</html>
