<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<style>
    h1 {
        text-align: center;
        font-style: italic;
        font-size: xx-large;
        font-weight: bold;
    }

    body {
        background-color: lightgray;
    }

    .testa {
        text-align:center;
        font-size: large;
        font-weight: bold;
    }

</style>
<body>

<br> <br> <br> <br> <br> <br>
<div class="testa">
<form action="/result" method="post">
    <input type="text" name="value1">
    <input type="text" name="value2">
    <input type="submit" value="Add data" >
</form>
</div>



<div class="testa">
    <br><br>
    <a href="/" > Tilbage</a>
</div>

</body>
</html>