<!doctype html>
<!--[if lt IE 7]> <html xmlns:umbraco="http://umbraco.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html xmlns:umbraco="http://umbraco.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html xmlns:umbraco="http://umbraco.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:umbraco="http://umbraco.org" class="no-js" lang="da">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TAO-ordningen - Albertslund Kommune</title>
    <meta name="description" content="TAO betyder Tilslutnings-Anlægs-Overtagelse.
Et tilslutningsanlæg er den teknik, der forbinder en bygnings varmefordelingsanlæg,">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Language" content="da" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- RSS FEEDS -->
    <!-- Siteimprove meta tags -->
    <meta name="content-editor" content="admini">
    <meta name="content-responsible" content="admini"/>
    <!-- Fonts -->
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800"/>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../less/bootstrap_imports.css">
    <link rel="stylesheet" href="/flick/jquery-ui-1.10.3.custom.min.css">
    <!-- Theme Colors -->
    <link rel="stylesheet" href="../alttemplate_themecolorcss.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<Script src="/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<Script src="/vendor/jquery-ui-1.10.4.custom.min.js"><\/script>')</script>
    <script src="/vendor/jquery.validate.min.js"></script>
    <script src="/vendor/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="https://kort.albertslund.dk/clientapi/minimap2/mmloader.js" charset="iso-8859-1"></script>
    <!--[if IE]
    <script src="/scripts/respond.min.js"></script>
    [endif]-->
    <!-- current PageId for Javascript -->
    <script>
        window.pageId = 27876;
    </script>
</head>
<body class="site-level-">

<div class="wrapper">
    <header class="container">
        <div class="topbar row">
            <div class="xs-12">
                <!--<div class="hidden-sm hidden-xs pull-right align-right hide-on-print">-->
                <a href="/" class="hidden-print">
                    <!--<img src="https://tech-partner.dk/wp-content/uploads/2016/04/Alb-varmev%C3%A6rk.png" alt="logo" class="logo hidden-print" />-->
                    <img src="../albertslund-forsyning-logo.png" alt="logo" class="logo hidden-print" style="border-top-width: 20px; padding-top: 20px; padding-bottom: 20px;" />
                </a>
                <!--<div class="hidden-sm hidden-xs pull-right allign-right hide-on-print">
                </div>
            <div class="hidden-md hidden-lg">
                <div class="menu-trigger primary-bg hide-on-print"><i class="icon-list"> </i><span>Menu</span></div>
            </div>-->
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="menu hide-on-print">
                <div >
                    <input type="hidden" value="1">
                    <nav id="navigation" class="topnavigation collapse-navigation hide-on-print">
                        <a href="/tao" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="border-left-width: 1px; margin-left: 300px;">Fjernvarme</a>
                        <a href="/energibesparelse" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Energibesparelse</a>
                        <a href="/driftstatus" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Driftstatus</a>
                </nav>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top:15px">
                <hr />
            </div>
        </div>
    </header>
    <div class="container content">
        <div class="row two-column ">
            <div class="xs-12 sm-12 md-8 main-content">
                <div class="row">
                    <div class="xs-12 sm-12 md-11">
                        <h1>
                            Energibesparelser
                        </h1>
                        <p class="textpage-teaser">
                            Få øget komfort i din bygning og hjælp med at nedbringe byens og dit eget varmetab
                        </p>
                        <hr />
                        <img class="default-margin-bottom hidden-print" style="margin-bottom: 15px;" width="100%" src="../wierdlookinglady.jpg" alt="Energibesparelser - Albertslund Kommune" />
                        <!-- Insert default "beforeContent" markup here -->
                        <p>Bygninger i EU forventes at nedsætte deres energiforbrug. Det gælder også varmeforbruget i Albertslund, hvor alle bygningsejere opfordres til at hjælpe med at efterisolere og effektivisere.</p>
                        <p>En god velisoleret bygning har et meget lille behov for tilført varme. Det gælder også for Albertslunds mange boliger og erhvervsbygninger, der for de flestes vedkommende er bygget i 1960- og -70'erne. Mange er lavet i beton og de fleste har store glasarealer, der giver kolde rum om vinteren og meget varme rum om sommeren.</p>
                        <p>Energirenoveringen af Albertslund er i fuld gang. Hundredevis af lejerrækkehuse har allerede reduceret varmeforbruget med 50-60 % , og i hundredevis af gårdhavehuse er på vej.</p>
                        <!-- Insert default "afterContent" markup here -->
                    </div>
                </div>
            </div>
            <div class="xs-12 sm-12 md-4 right-content ">
            </div>
        </div>
    </div>
    <div class="footer hide-on-print">
        <img class="silhouette" src="../silhouette1.png" alt="Silhouette" style="margin-top: -0px;margin-left: 375px;" />
        <div class="footer-content sec-bg-color">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="xs-12 sm-6 md-4 contact">
                            <p>Albertslund Forsyning</p>
                            <p>Vognporten 9<br />2620 Albertslund<br />Tlf.: 4368 6888</p>
                            <p>CVR 66137112</p>
                            <p><a href="mailto:info@albforsyning.dk">info@albforsyning.dk</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fancyBox -->
<link rel="stylesheet" href="/scripts/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/scripts/fancybox/jquery.fancybox.pack.js"></script>
<!-- fancyBox Init -->
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
<!-- Google Analytics Script -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-51118307-1');
    ga('send', 'pageview', {
        'anonymizeIp': true
    });
</script>
<script src="/scripts/vendor/jquery.easing.1.3.js"></script>
<script src="/templates/vendor/modernizr-2.6.2.min.js"></script>
<script src="/templates/vendor/jquery.validate.unobtrusive.js"></script>
<script src="/App_Plugins/UmbracoForms/Assets/umbracoforms.js"></script>
<script src="/App_Plugins/UmbracoForms/Assets/umbracoforms-conditions.js"></script>
<script src="/templates/vendor/Scripts/umbraco-forms-conditions-callback.js"></script>
<!-- Custom Javascript -->
<script src="/scripts/cookie-notification.js"></script>
<script src="/scripts/vendor/navigation-functionality.js"></script>
<script src="/scripts/vendor/navigation-animation.js"></script>
<script src="/templates/vendor/Scripts/emailSubscription.js"></script>
<script src="/templates/vendor/Scripts/lucene.autocomplete.js?v=1"></script>
<script src="/templates/vendor/Scripts/lucene.search.js?v=1"></script>
<script src="/scripts/borgerdk.js"></script>
<script src="/scripts/emply.js"></script>
<script src="/scripts/navigation.js"></script>
<script src="/scripts/Caroussel.js"></script>
<script src="/scripts/noticeboard.js"></script>
<script src="/scripts/application.js?version=1.01"></script>
<script src="/templates/vendor/Scripts/Esdh.js"></script>
<!-- Custom Global Scripts -->
<!-- Custom Global Scripts END -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
