<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<style>
    h1 {
        text-align: center;
        font-style: italic;
        font-size: xx-large;
        font-weight: bold;
    }
    body {
        background-color: lightgray;
    }
</style>


<body>
<h1 >Movies</h1>
<br> <br> <br>
<div class="col-sm-5" align="center">The big short</div>
<br> <br> <br>
<div class="col-sm-5" align="center">I kina spiser de hunde</div>
<br> <br> <br>
<div class="col-sm-5" align="center">Star wars</div>
<br> <br> <br>
<div class="col-sm-5" align="center">Shrek</div>
<br> <br>
<a href="/">Tilbage</a>
</body>
</html>